flows (3).json
[
    {
        "id": "c8cf037951b54be8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df679490dbb87598",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f99f57f68d703a4",
        "type": "mqtt-broker",
        "name": "Arnalderas",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29edf5e15a5ca832",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7fa1b8fb91d3171f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b36933a7b810539",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4845f9f3faab05f7",
        "type": "ui_group",
        "name": "Default",
        "tab": "7fa1b8fb91d3171f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20fe9b4d34352ca7",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13303ff38cbb774d",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5e9c9212a8215ccb",
        "type": "inject",
        "z": "c8cf037951b54be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "6812101367575b07",
                "62cb2c7df4f14b90"
            ]
        ]
    },
    {
        "id": "6812101367575b07",
        "type": "mqtt out",
        "z": "c8cf037951b54be8",
        "name": "",
        "topic": "HighCookiePriest",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f99f57f68d703a4",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "62cb2c7df4f14b90",
        "type": "debug",
        "z": "c8cf037951b54be8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "340a29bc43e77cd0",
        "type": "inject",
        "z": "c8cf037951b54be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A",
        "payloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "62cb2c7df4f14b90",
                "6812101367575b07"
            ]
        ]
    },
    {
        "id": "d0085aa68a7738e0",
        "type": "inject",
        "z": "c8cf037951b54be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AB",
        "payloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "62cb2c7df4f14b90",
                "6812101367575b07"
            ]
        ]
    },
    {
        "id": "a95c1f14591554d2",
        "type": "inject",
        "z": "c8cf037951b54be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "X",
        "payloadType": "str",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "62cb2c7df4f14b90",
                "6812101367575b07"
            ]
        ]
    },
    {
        "id": "922deff7b51054a2",
        "type": "mqtt in",
        "z": "df679490dbb87598",
        "name": "",
        "topic": "HighCookiePriest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f99f57f68d703a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "caf456ec9a1c1993",
                "c486515e579714f1"
            ]
        ]
    },
    {
        "id": "280584848747ec9e",
        "type": "ui_text",
        "z": "df679490dbb87598",
        "group": "4845f9f3faab05f7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status atual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "caf456ec9a1c1993",
        "type": "function",
        "z": "df679490dbb87598",
        "name": "function 1",
        "func": "var newMsg;\n\nif (msg.payload === \"A\"){\n    newMsg = { payload: \"Vaga A ocupada\"};\n}\nif (msg.payload === \"B\") {\n    newMsg = { payload: \"Vaga B ocupada\" };\n}\nif (msg.payload === \"AB\") {\n    newMsg = { payload: \"Todas as vagas ocupadas\" };\n}\nif (msg.payload === \"X\") {\n    newMsg = { payload: \"Todas as vagas disponíveis\" };\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "280584848747ec9e"
            ]
        ]
    },
    {
        "id": "c486515e579714f1",
        "type": "function",
        "z": "df679490dbb87598",
        "name": "function 2",
        "func": "var newMsg;\n\nif (msg.payload === \"A\") {\n    newMsg = { payload: 1 };\n}\nif (msg.payload === \"B\") {\n    newMsg = { payload: 1 };\n}\nif (msg.payload === \"AB\") {\n    newMsg = { payload: 0 };\n}\nif (msg.payload === \"X\") {\n    newMsg = { payload: 2 };\n}\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "27815dc43c103e4d"
            ]
        ]
    },
    {
        "id": "27815dc43c103e4d",
        "type": "ui_gauge",
        "z": "df679490dbb87598",
        "name": "",
        "group": "4845f9f3faab05f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Porcentagem de disponibilidade",
        "label": "vagas",
        "format": "{{value}}",
        "min": "2",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    }
]